
- user.gardens.each do |garden|
  .col-lg-3.col-md-4.col-sm-6.item-container.grid-cell

    = link_to "javascript:void(0)", class: "load-portrait item", ajax_path: user_garden_path(user, garden) do
      %div.chart.attribute-holder{age: garden.age, length: garden.get_length, gnarling: garden.comment_quality, id: garden.safe_name, initialise: "true", type: garden.classify_tree, class: garden.safe_name}
        %svg{class: "#{garden.language}"}
          %svg{viewBox: "0 0 840 600", class: garden.language}
            %g{class: "#{garden.safe_name}"}
      .text-center.name-plate
        = garden.owner
        = "/"
        = garden.name

.col-lg-3.col-md-4.col-sm-6.item-container.grid-cell
  #spinner
    = image_tag "ajax-loader.gif", alt: "Loading..."

.nav{class: "cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left", id: "cbp-spmenu-s1"}
  
  =label_tag "SSH", "SSH", class: "control-label"
  =text_field_tag "SSH", "", class: "form-control", placeholder: 'git@github.com:jgkingston/rails_mongodb.git'
  = link_to "Require Tree", "javascript:void(0)", class: "btn require-tree", ajax_path: require_tree_user_path(user)

  %br
  %br
  %div.text-center
    = "-OR-"
  %br

  = text_field_tag "owner", "", class: "gather-input form-control", placeholder: 'enter a github username'
  = link_to "Gather Seedlings", "javascript:void(0)", class: "btn gather-seeds", ajax_path: git_api_repos_user_path(user)
  .repolist-panel
    %ul.repolist
      = render 'users/repolist', user: user
 
  %br
  / %br
  / =label_tag "HHTPS", "HTTPS", class: "control-label"
  / =text_field_tag "HTTPS", "", class: "form-control", placeholder: 'https://github.com/jgkingston/rails_mongodb.git'
  / %br
  / = link_to "Require Tree", "javascript:void(0)", class: "btn gather-seeds", ajax_path: git_api_repos_user_path(user)

  %a#showLeft{href: "#"}
    %i.glyphicon.glyphicon-chevron-right


%script{:src => "/assets/main.js?body=1"}