
- user.gardens.each do |garden|
  .col-lg-3.col-md-4.col-sm-6.item-container.grid-cell

    = link_to "javascript:void(0)", class: "load-portrait item", ajax_path: user_garden_path(user, garden) do
      %div.chart.attribute-holder{age: garden.age, length: garden.get_length, gnarling: garden.comment_quality, id: garden.name, initialise: "true", type: garden.classify_tree, class: garden.name}
        %svg{class: "#{garden.language}"}
          %svg{viewBox: "0 0 840 600", class: garden.language}
            %g{class: "#{garden.name}"}
      .text-center.name-plate
        = garden.owner
        = "/"
        = garden.name



%script{:src => "/assets/main.js?body=1"}