!!!
%html{:lang => "en"}
  %head
    %title require_Tree
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{:content => "initial-scale=1.0, user-scalable=no", :name => "viewport"}
  %body.cbp-spmenu-push
    .navbar.navbar-default
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => "/"} require_Tree  
      .navbar-collapse.collapse.navbar-responsive-collapse
        - if user_signed_in?
          %ul.nav.navbar-nav
            %li
              %a.grid-view{href: "#", ajax_path: user_gardens_path(current_user)} Grid
            %li
              = link_to "Create Webhook", "javascript:void(0)", id: 'webhook-link'
              / = image_tag 'sun.svg', class: 'webhook-icon'
            / %li
            /   %a{href: "#"} Portrait
          %form.navbar-form.navbar-left.search-bar
            %input#search-term.form-control.col-lg-8{:placeholder => "Search", :type => "text"}/
        %ul.nav.navbar-nav.navbar-right
          %li
            = render 'devise/menu/registration_items'
          %li
            = render 'devise/menu/login_items'
            
          
    .container-fluid
      = yield
    


